# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

cmake-build-debug/*
cmake-build-release/*
build/*
.idea/*
res/models/rungholt/*
res/CubeMaps/CornellBox/*
res/CubeMaps/GraceCathedral/*
res/CubeMaps/Indoor/*
res/CubeMaps/Skybox/*.txt
